# Add any directories, files, or patterns you don't want to be tracked by version control
.idea
*.iml
dist/
*.zip
temp-zip/
.vscode
*.log
Thumbs.db
thumbs.db
*.bak

# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile

Debug\
External\

Mouse-Hit-game\HitGameSFML_C++_Simple_Games.sln
Mouse-Hit-game\HitGame\SFML_C++_Simple_Games.vcxproj
Mouse-Hit-game\HitGame\SFML_C++_Simple_Games.vcxproj.filters
Mouse-Hit-game\HitGame\SFML_C++_Simple_Games.vcxproj.user
Mouse-Hit-game\HitGame\sfml-window-d-2.dll
Mouse-Hit-game\HitGame\sfml-window-2.dll
Mouse-Hit-game\HitGame\sfml-system-d-2.dll
Mouse-Hit-game\HitGame\sfml-system-2.dll
Mouse-Hit-game\HitGame\sfml-network-d-2.dll
Mouse-Hit-game\HitGame\sfml-network-2.dll
Mouse-Hit-game\HitGame\sfml-graphics-d-2.dll
Mouse-Hit-game\HitGame\sfml-graphics-2.dll
Mouse-Hit-game\HitGame\sfml-audio-d-2.dll
Mouse-Hit-game\HitGame\sfml-audio-2.dll
Mouse-Hit-game\HitGame\openal32.dll